<div class="container">
  <div class="row mt-5">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="card" style="align-items: center;">
        <form (ngSubmit)="onSubmit()" #form="ngForm">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" email ngModel #email="ngModel" name="email" id="email" required>
            <p *ngIf="email.invalid && email.touched" class="text-danger">Email should not be empty.</p>
          </div>
          <div class="form-group">
            <label for="plan">Plan</label>
            <select id="plan" ngModel name="plan" class="form-control">
              <option *ngFor="let plan of plans" [value]="plan">{{plan}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" required ngModel name="password" #password="ngModel" id="password" class="form-control">
            <p *ngIf="password.invalid && password.touched" class="text-danger">Password should not be Empty</p>
          </div>
          <button class="btn btn-primary m-3" [disabled]="form.invalid" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>